@charset "utf-8";

body {
    overflow-x:hidden;
}

.flex-group {
    display: flex;
    flex-flow:  row nowrap;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.section {
    padding: 120px 20px;
}

.img-news {
    height: 400px;
    display: inline-block;
    padding-right: 30px;
}

.img-news:hover {
    cursor: pointer;
}

#equips {
    margin: 0 25px;
}

#equips img {
    cursor: pointer;
}

#mainCarousel {
    margin: 0 auto 1rem auto;
  
    --carousel-button-color: #170724;
    --carousel-button-bg: #fff;
    --carousel-button-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%),
      0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  
    --carousel-button-svg-width: 20px;
    --carousel-button-svg-height: 20px;
    --carousel-button-svg-stroke-width: 2.5;
    position: relative;
  }
  
  #mainCarousel .carousel__slide {
    width: 100%;
    padding: 0;
  }

  #mainCarousel .carousel__slide img {
    max-height: 435px;
    max-width: 650px;
  }
  
  #mainCarousel .carousel__button.is-prev {
    left: -1.5rem;
  }
  
  #mainCarousel .carousel__button.is-next {
    right: -1.5rem;
  }
  
  #mainCarousel .carousel__button:focus {
    outline: none;
    box-shadow: 0 0 0 4px #A78BFA;
  }
  
  #thumbCarousel .carousel__slide {
    opacity: 0.5;
    padding: 0;
    margin: 0.25rem;
    width: 96px;
    height: 64px;
  }
  
  #thumbCarousel .carousel__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
  
  #thumbCarousel .carousel__slide.is-nav-selected {
    opacity: 1;
  }

.h-425 {
    height: 425px;
}

.nav-link {
    color: #fff;
    font-size: 18px;
    padding: 15px!important;
    font-weight: 300;
}

.nav-link.active{
    color: #55acee;
}

.nav-link:hover{
    color: #55acee;
}

.subfooter {
    padding: 5px 0;
}

.image-box {
    border: 1px solid #efefef;
}

.pimage {
    border: 1px solid #efefef;
}

.accordion-item {
    border-radius: unset!important;
}

#researches a{
    text-decoration: none;
}

#researches a:hover {
    text-decoration: underline;
}

#links {
    margin: 50px auto;
}

#links .content{
    margin: 80px 50px;
}

#links a{
    margin: 10px;
    display: inline-block;
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    
    .navbar .navbar-toggler {
        color: rgba(255,255,255,.55);
        border: 2px solid rgba(255,255,255,.55);
    }

    #links .content {
        margin:  0;
    }

    .organization{
        display: inline-block;
    }

    .nav-link {
        padding: 5px 0!important;
    }

    .img-news {
        padding: 10px;
        height: auto;
    }

    .filters li{
        width: 100%!important;
        margin-bottom: 5px!important;
    }

    .filters li a {
        width: 100%!important;
        display: inline-block!important;
    }

}

